[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/endb1228/endb1228.github.io.git
	branch = main
